body {
    font-family: 'Open Sans', sans-serif;
    background-color: red;
}

header, footer{
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

























/* The following code is used to create same-sized columns in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }